<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <% @tweets.each do |tweet| %>
    <div class="row">
      <p><%= tweet.content %></p>
      <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-primary' %>
      <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-default' %>
    </div>
    <% end %>
  </div>
</div>
